@using CasoUsoCompartida.DTOs.Envios
@model IEnumerable<EnvioListadoDto>

@{
    ViewData["Title"] = "Listado de todos los envios [En Proceso]";
}


<!-- Botón para navegar a la vista de Crear Usuario -->
<a asp-controller="Envio" asp-action="Crear" class="btn btn-primary">Agregar Envío</a>

<table class="table">
    <thead>
        <tr>
            <th>Tipo Envio</th>
            <th>Nro Tracking</th>
            <th>Cliente</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var envio in Model)
        {
            <tr>
                <td>@envio.TipoEnvio</td>        
                <td>@envio.NroTracking</td>      
                <td>@envio.ClienteId</td>        
                <td>@envio.Correo</td>           
                <td>@envio.Telefono</td>
                <td>
                  
                    <a asp-controller="Envio" asp-action="Finalizar" asp-route-id="@envio.Id" method="post" >Finalizar</a>
                    |
                    <a asp-controller="Envio" asp-action="AgregarComentario" asp-route-id="@envio.Id">Ingresar comentario de status</a>
                </td>
            </tr>
        }
    </tbody>
</table>
