@model List<AppCliente.Models.Envios.EnvioListadoDto>

@{
    ViewData["Title"] = "Mis Envíos";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tracking</th>
            <th>Creación</th>
            <th>Tipo</th>
            <th>Peso</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.NroTracking</td>
                <td>@e.FechaCreacion.ToString("yyyy-MM-dd")</td>
                <td>@e.TipoEnvio</td>
                <td>@e.Peso</td>
                <td>
                    <a asp-controller="Envio" asp-action="DetalleEnvio" asp-route-nroTracking="@e.NroTracking">
                        Ver detalle del envío
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>